.table-avatar {
    width: 30px !important; 
    height: 30px !important;
}
.teacher-add-link {
    margin-top: 10px;
    margin-bottom: 10px;

}
.teacher-add-link {
    background-color: #1d9f3a;
    border: 1px solid;
    color: white;
    padding: 12px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
}
.filter-add-main {
    display: flex;
    justify-content: flex-end;
}