.searchForm {
  display: flex;

}
.searchForm input{
    flex-grow: 1;
    border-color: transparent;
    padding: 14px 24px;
    color: #737373;
    font-weight: 200;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-clip: unset;
    border-width: 2px;


}
input::placeholder {  
  opacity: 0.6;  
}

input:-ms-input-placeholder {  
  opacity: 0.6; 
}

input::-ms-input-placeholder {  
  opacity: 0.6; 
}
.searchForm input:focus{
box-shadow: none;
}

.searchForm button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    padding: 0 18px;

}