 .courses a {
    color: #000 !important;
}

.future-box img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
}

.future-box {
    background-color: #e2e2e2;
    padding: 32px 40px;
    margin-bottom: 30px;
    transition: .5s all ease;
    word-break: break-word;
    border-radius: 3px;
}