.students-page .filter {
  display: flex;
  margin: 30px 0;
  align-items: center;
}

.students-page .filter li {
  margin-right: 28px;
}
.error-input {
  color: #ff2c2e;
  font-size: 13px;
}
.students-page .filter li a {
  color: #b4b4b4;
  font-size: 14px;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}
.table-icon-diplom{
  color: #2e7d32;
  font-size: 20px;
}

.students-page .filter li a.active {
  border-bottom: 2px solid #454545;
  color: #454545;
}
.students-page .filter li a:hover {
  color: #454545;
}
.css-y8ay40-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root {
  font-family: "Futura" !important;
}
.css-sxix9q-MuiButtonBase-root-MuiButton-root,
.css-1sszw6i-MuiButtonBase-root-MuiButton-root,
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-size: 12px !important;
}
.table-course {
  border: 1px solid #c5d98d;
  padding: 2px 6px;
  background-color: #c5d98d;
  border-radius: 3px;
}
.table-btn button {
  background-color: #f1f1f1;
  border: none;
  padding: 6px 14px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.table-btn-edit button {
  background-color: #2e7d3221;
  border: none;
  padding: 6px 14px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.table-btn button:hover {
  background-color: #d1d1d1;
}
.table-btn-edit button:hover {
  background-color: #2e7d3290;
}

.student-add-link {
  position: absolute;
  right: 15px;
  background-color: #2e7d32;
  border: 1px solid;
  color: white;
  padding: 4px 10px;
  border-radius: 3px;
}
.filter-add {
  color: #fff !important;
}
input[type="date"] {
  width: 100%;
}


.delete-button {
  background-color: #ff2c2e !important;
  box-shadow: none !important;
}
.delete-button:hover {
  background-color: #ff2c30d3 !important;
}

.submit-button {
  background-color: #16b75c !important;
  box-shadow: none !important;
}
.submit-button:hover {
  background-color: #16b75c9e !important;
}
.teacher-add-link:hover {
  color: #fff;
}