.table-absence {
  width: 40px;
  height: 40px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: red;
}
.absence-colored td {
  background: linear-gradient(to bottom right, transparent 50%, red 50%);
  padding: 20px !important;
}

.absence-select {
  margin-top: 20px;
  margin-bottom: 50px;
}
.absence-select label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  line-height: 150%;
  color: black;
  margin-bottom: 8px;
  padding-left: 6px;
}
.absence-select select {
  border: none;
  background: #ececec;
  color: black;
  outline: none;
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.absence-select option {
  font-size: 17px;
  color: #737373;
  background-color: #ececec;
  padding: 8px;
}

.absence-select option:hover {
  background: #ececec !important;
  color: #646464 !important ;
}

.custom-select .indicator-separator {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}
.custom-select .indicator-separator:active,
.custom-select .indicator-separator:focus {
  transform: rotate(180deg);
}
.custom-select {
  width: 250px;
  transition: width 0.5s ease-in-out;
}
.custom-select select {
  width: 250px;
  transition: width 0.5s ease-in-out;
}
.custom-select option {
  width: 250px;
  transition: width 0.5s ease-in-out;
}

.absences-main table {
  /* table-layout: fixed; */

  width: 400px;
  border-collapse: collapse;
}

.absences-main td,
.absences-main th {
  width: 30px !important;
  height: 30px !important;
}
.date-absences {
  display: block;
  transform: rotate(-45deg);
  font-size: 9px;
  padding: 6px 0;
}

.absence-select {
  margin-top: 20px;
  margin-bottom: 50px;
}

.select__control {
  border: none !important;
  color: black;
  background-color: #ececec !important;
  outline: none;
  width: 500px;
  height: 40px;
  border-radius: 5px;
}

.basic-single {
  width: 500px;
}
.select__menu {
  background-color: #ececec !important;
}
.select__menu  div {
  background: #ececec !important;
  color: black !important;
  width: 500px;
  box-shadow: none !important;
}
.select__menu  div:hover {
  background:#dfdfdf !important;
}
.react-select__option:focus {
  background: #ececec !important;
  color: black;
  width: 500px;
  border-radius: 5px;
}
