* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura";
}
p {
  margin: 0;
  padding: 0;
}

tr,td,th,table {
  margin: 0;
  padding: 0;
}
ul,
ol ,li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
.section-title h2 {
  font-weight: 600;
}
.section-title {
  margin-bottom: 30px;
}

#root {
  height: 100%;
}

.main {
  overflow: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(134, 133, 133, 0.84);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}